@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  background-image: url(../assets/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 9%;
  padding-left: 12%;
  width: 100%;
}

.header h1 {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: bolder;
  color: white;
}

.changeUnit button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  color: white;
  transition: background ease-in-out 0.3s;
}

.changeUnit button:hover {
  background-color: black;
  color: white;
}

.changeUnit #divider {
  margin: 0 5px;
  font-weight: bold;
  color: white;
}

.changeUnit .active {
  background-color: black;
  color: white;
}

main {
  width: 100%;
}

/* MAIN TOP SECTION */
main .topSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

main .topSection .firstColumn {
  text-align: left;
  padding-left: 15%;
  color: white;
  letter-spacing: 1px;
}

main .topSection .firstColumn h1 {
  font-weight: bolder;
  font-size: 2.7rem;
}

main .topSection .firstColumn h4 {
  font-size: 1rem;
}

main .topSection .secondColumn {
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2rem;
}

main .topSection .thirdColumn {
  text-align: right;
  padding-right: 15%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* MIDSECTION SEARCHBAR */
main .midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

main .midSection .searchbar {
  position: relative;
}

main .midSection input[id="searchBar"] {
  padding: 10px 60px;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 600px;
  height: 50px;
  border: none;
  border-radius: 32px;
}

main .midSection img[id="searchIcon"] {
  width: 16px;
  position: absolute;
  top: 17.5px;
  left: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.error-msg {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0;
  visibility: hidden;
}

.error-msg.active {
  visibility: visible;
}

/* BOTTOM CAROUSAL */
main .bottomSection {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2rem;
  padding: 0 5%;
}

main .bottomSection .hourWeather {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  color: white;
}

main .bottomSection .carousal {
  opacity: 0;
  display: none;
}

main .bottomSection .carousal[data-active] {
  opacity: 1;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

main .bottomSection img[class="carousalArrow"] {
  width: 60px;
  cursor: pointer;
  border: 1px solid white;
  padding: 15px;
}

main .bottomSection img[class="carousalArrow"]:hover {
  transform: scale(1.02);
}

/* FOOTER SECTION */
footer .copyrightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

footer .copyrightSection .githubLogo img {
  width: 22px;
}

footer .weatherAPIPlug {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

footer .weatherAPIPlug .text a {
  text-decoration: none;
  color: black;
}

footer .weatherAPIPlug .image img {
  width: 60px;
}
